.git
.github
**/node_modules
**/dist
**/.next
**/.expo
**/android
**/ios
**/.env
**/.env.*
!**/.env.example
*.log
*.tsbuildinfo
docs
admin-web/**
mobile/**
peritio-web/**

!admin-web/package.json
!mobile/package.json
!peritio-web/package.json
